<section>
    <header class="od-header">
        <h2>Order details</h2>
    </header>
    <main *ngIf="fetchedOrderDetails">
        <div class="od-detail-holder">
            <div class="od-details">From: </div>
            <div class="od-details">{{fetchedOrderDetails.origin}}</div>
        </div>
        <div class="od-detail-holder">
            <div class="od-details">To: </div>
            <div class="od-details">{{fetchedOrderDetails.destination}}</div>
        </div>
        <div class="od-detail-holder">
            <div class="od-details">Pickup date: </div>
            <div class="od-details">{{fetchedOrderDetails.pickupDate| date: 'dd-MMM-yyyy'}}</div>
        </div>
        <div class="od-detail-holder">
            <div class="od-details">Delivery date: </div>
            <div class="od-details">{{fetchedOrderDetails.deliveryDate| date: 'dd-MMM-yyyy'}}</div>
        </div>

        <div class="od-detail-holder">
            <div class="od-details">Reference number: </div>
            <div class="od-details">{{fetchedOrderDetails.referenceNumber}}</div>
        </div>
        <div class="od-detail-holder">
            <div class="od-details">Commodity: </div>
            <div class="od-details">{{fetchedOrderDetails.commodity}}</div>
        </div>
        <div class="od-detail-holder">
            <div class="od-details">Quantity: </div>
            <div class="od-details">{{fetchedOrderDetails.quantity}}</div>
        </div>
        <div class="od-detail-holder">
            <div class="od-details">Business unit: </div>
            <div class="od-details">{{fetchedOrderDetails.businessUnit}}</div>
        </div>
        <div class="od-detail-holder">
            <div class="od-details od-details-last">status: </div>
            <div class="od-details od-details-last">{{fetchedOrderDetails.status}}</div>
        </div>
    </main>
</section>