<mat-toolbar color="primary">
  <mat-toolbar-row ngClass.lt-md="pln">
    <button mat-icon-button (click)="toggleSidenav()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <span>OMS</span>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md>
      <a [routerLink]="['/orders']" mat-button>Orders</a>
      <a [routerLink]="['/contactus']" mat-button>Contact us</a>
      <a [routerLink]="['/aboutus']" mat-button>About us</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>