.ol{
    margin: 20px;
    border: thin solid #888889;
}

.ol-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background: #8889;
}

#order-list{
    overflow-x: auto;
}
.ol-header-item{
    flex: 1 0 80px;
    background: grey;
}

#ol-container{
    height: 400px;
}

.ol-title{
    font-weight: bold;
    color: black;
}

.order-add-btn{
    right:0;
    float:right;
}