.ol{
    margin: 20px;
    border: thin solid #888889;
}

.ol-holder{
    overflow-x: auto;
    width: 800px;
}

.ol-header{
    background: #8889;
}

#ol-container{
    height: 400px;
}

.ol-title{
    font-weight: bold;
    color: black;
}

.order-add-btn{
    right:0;
    float:right;
}