<section class="ol">
    <header class="ol-header">
        <mat-grid-list [cols]="ordersListHeaderLabels.length" [rowHeight]="'50px'">
            <mat-grid-tile *ngFor="let olHeader of ordersListHeaderLabels" class="ol-title" [colspan]="olHeader.colSpan">
                <!-- <mat-grid-tile-header>{{olHeader.label}}</mat-grid-tile-header> -->
                {{olHeader.label}}
            </mat-grid-tile>
        </mat-grid-list>
    </header>
    <main id="ol-container">
        <oms-orders-list-item *ngFor="let _ of [1,2,3,4,5,6,7,8,9,10]"></oms-orders-list-item>
    </main>
    <button mat-fab color="primary" class="order-add-btn" matTooltip="Place order" (click)="openAddOrderPopup()">
        <i class="material-icons">add</i>
    </button>
</section>