<div class="ol-item">
    <!--TBD: Find the cols automatically-->
    <mat-grid-list [cols]="8" [rowHeight]="'80px'">
            <mat-grid-tile [colspan]="1">1</mat-grid-tile>
            <mat-grid-tile [colspan]="1">Trivandrum</mat-grid-tile>
            <mat-grid-tile [colspan]="1">Kollam</mat-grid-tile>
            <mat-grid-tile [colspan]="1">123</mat-grid-tile>
            <mat-grid-tile [colspan]="1">31-Jul-2019</mat-grid-tile>
            <mat-grid-tile [colspan]="1">31-Jul-2019</mat-grid-tile>
            <mat-grid-tile [colspan]="1">LM</mat-grid-tile>
            <mat-grid-tile [colspan]="1">Intransist</mat-grid-tile>
    </mat-grid-list>
</div>