<div>
    <!--TBD: Find the cols automatically-->
    <mat-grid-list [cols]="8" [rowHeight]="'80px'">
            <mat-grid-tile>1</mat-grid-tile>
            <mat-grid-tile>Trivandrum</mat-grid-tile>
            <mat-grid-tile>Kollam</mat-grid-tile>
            <mat-grid-tile>123</mat-grid-tile>
            <mat-grid-tile>31-Jul-2019</mat-grid-tile>
            <mat-grid-tile>31-Jul-2019</mat-grid-tile>
            <mat-grid-tile>LM</mat-grid-tile>
            <mat-grid-tile>Intransist</mat-grid-tile>
    </mat-grid-list>
</div>